.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px !important;
}

.Trigger {
  margin-right: 12px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #1890ff;
  }
}

.Sider {
  &Header {
    height: 32px;
    display: flex;
    align-items: center;
    margin: 16px;
  }

  &Title {
    color: #fff;
    font-weight: 800;
    font-size: 18px;
  }
}

.Logo {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  margin-right: 8px;
}

.Content {
  padding: 24px;
}
